<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(APP_BUILD)</string>
	<key>GroundSdk</key>
	<dict>
		<key>AppDefaults</key>
		<dict>
			<key>anafi4k</key>
			<string>anafi4k_app_defaults</string>
		</dict>
		<key>BlackBox</key>
		<false/>
		<key>BlackboxPublicFolder</key>
		<string></string>
		<key>UsbDebug</key>
		<true/>
		<key>BlackBoxQuotaMb</key>
		<integer>0</integer>
		<key>FlightLogQuotaMb</key>
		<integer>0</integer>
		<key>FlightDataQuotaMb</key>
		<integer>0</integer>
		<key>GutmaLogQuotaMb</key>
		<integer>0</integer>
		<key>CrashReportQuotaMb</key>
		<integer>0</integer>
		<key>SupportedDevices</key>
		<array>
			<string>anafi4k</string>
			<string>anafiThermal</string>
			<string>anafiUa</string>
			<string>anafiUsa</string>
			<string>skyCtrl3</string>
			<string>skyCtrlUA</string>
		</array>
		<key>FirmwareServer</key>
		<string>$(GSDK_INTERNAL_UPDATE_URL)</string>
		<key>ApplicationKey</key>
		<string>$(GSDK_APPKEY)</string>
		<key>DevToolbox</key>
		<true/>
	</dict>
	<key>LSApplicationCategoryType</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Add photos and videos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your app uses Location for navigation and followMe functions</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.parrot.dronesdk</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>camera authorization - for HMD</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We need to access your local network to detect your drone over WiFi</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_arsdk-mux._tcp.</string>
		<string>_arsdk-0919._udp.</string>
		<string>_arsdk-091a._udp.</string>
		<string>_arsdk-091e._udp.</string>
		<string>_arsdk-091b._udp.</string>
		<string>_arsdk-0914._udp.</string>
	</array>
</dict>
</plist>
