<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>DeviceToEmptyStore</string>
		<key>desc</key>
		<string>Tests proper import of device default declaration to a store that is empty</string>
		<key>model</key>
		<string>anafi4k</string>
		<key>appDefaults</key>
		<dict>
			<key>device</key>
			<dict>
				<key>defaults</key>
				<dict>
					<key>name</key>
					<string>Anafi 4K</string>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
					</dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>expectedStore</key>
		<dict>
			<key>devices</key>
			<dict>
				<key>default-anafi4k</key>
				<dict>
					<key>preset</key>
					<string>anafi4k</string>
					<key>type</key>
					<integer>2324</integer>
					<key>name</key>
					<string>Anafi 4K</string>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
					</dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>PresetToEmptyStore</string>
		<key>desc</key>
		<string>Tests proper import of model preset declaration to a store that is empty</string>
		<key>model</key>
		<string>anafi4k</string>
		<key>appDefaults</key>
		<dict>
			<key>preset</key>
			<dict>
				<key>defaults</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
					</dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>expectedStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
					</dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>OverridesApplyBeforeDefault</string>
		<key>desc</key>
		<string>Ensures that overrides block in app defaults declaration applies before defaults block</string>
		<key>model</key>
		<string>anafi4k</string>
		<key>appDefaults</key>
		<dict>
			<key>preset</key>
			<dict>
				<key>defaults</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
					</dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<string>A</string>
					</dict>
				</dict>
				<key>overrides</key>
				<dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<string>B</string>
						<key>setting2</key>
						<string>C</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>expectedStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
					</dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<string>B</string>
						<key>setting2</key>
						<string>C</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>MergeToExistingDefaults</string>
		<key>desc</key>
		<string>Ensures that defaults block in app defaults declaration does not override existing defaults in store</string>
		<key>model</key>
		<string>anafi4k</string>
		<key>initialStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>appDefaults</key>
		<dict>
			<key>preset</key>
			<dict>
				<key>defaults</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>0</integer>
						<key>setting2</key>
						<dict>
							<key>sub1</key>
							<integer>1</integer>
							<key>sub2</key>
							<integer>2</integer>
						</dict>
						<key>setting3</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>expectedStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<string>2</string>
						<key>setting3</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>OverrideToExistingDefaults</string>
		<key>desc</key>
		<string>Ensures that overrides block in app defaults declaration properly overrides existing defaults in store</string>
		<key>model</key>
		<string>anafi4k</string>
		<key>initialStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<integer>2</integer>
						<key>setting4</key>
						<integer>4</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>appDefaults</key>
		<dict>
			<key>preset</key>
			<dict>
				<key>overrides</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>0</integer>
						<key>setting2</key>
						<dict>
							<key>sub1</key>
							<integer>1</integer>
							<key>sub2</key>
							<integer>2</integer>
						</dict>
						<key>setting3</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>expectedStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>0</integer>
						<key>setting2</key>
						<dict>
							<key>sub1</key>
							<integer>1</integer>
							<key>sub2</key>
							<integer>2</integer>
						</dict>
						<key>setting3</key>
						<integer>3</integer>
						<key>setting4</key>
						<integer>4</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>ClearByOverride</string>
		<key>desc</key>
		<string>Ensures that a null entry in an overrides block in app defaults declaration properly deletes corresponding defaults in store</string>
		<key>model</key>
		<string>anafi4k</string>
		<key>initialStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentA</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<integer>2</integer>
					</dict>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<integer>1</integer>
						<key>setting2</key>
						<dict>
							<key>sub1</key>
							<integer>4</integer>
							<key>sub2</key>
							<integer>5</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>appDefaults</key>
		<dict>
			<key>preset</key>
			<dict>
				<key>overrides</key>
				<dict>
					<key>ComponentA</key>
					<data></data>
					<key>ComponentB</key>
					<dict>
						<key>setting1</key>
						<data></data>
						<key>setting2</key>
						<dict>
							<key>sub1</key>
							<data></data>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>expectedStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>ComponentB</key>
					<dict>
						<key>setting2</key>
						<dict>
							<key>sub2</key>
							<integer>5</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>TestDrones</string>
		<key>desc</key>
		<string>Test that mimics what will happens with real drones</string>
		<key>model</key>
		<string>anafi4k</string>
		<key>initialStore</key>
		<dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>Camera-main</key>
					<dict>
						<key>maxZoomSpeed</key>
						<real>1.5</real>
						<key>zoomVelocityQualityDegAllowed</key>
						<true/>
						<key>mode</key>
						<string>recording</string>
						<key>recording</key>
						<dict>
							<key>hyperlapse</key>
							<string>15</string>
							<key>framerates</key>
							<dict>
								<key>standard</key>
								<string>30</string>
							</dict>
							<key>resolutions</key>
							<dict>
								<key>standard</key>
								<string>uhd4k</string>
							</dict>
							<key>mode</key>
							<string>standard</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>devices</key>
			<dict>
				<key>default-anafi4k</key>
				<dict>
					<key>name</key>
					<string>Anafi 4K</string>
					<key>type</key>
					<integer>2324</integer>
					<key>preset</key>
					<string>anafi4k</string>
					<key>Camera-main</key>
					<dict>
						<key>hyperlapse</key>
						<array>
							<string>240</string>
							<string>60</string>
							<string>15</string>
							<string>30</string>
							<string>120</string>
						</array>
						<key>mode</key>
						<array>
							<string>recording</string>
							<string>photo</string>
						</array>
						<key>burst</key>
						<array/>
					</dict>
				</dict>
				<key>PI007</key>
				<dict>
					<key>name</key>
					<string>Anafi007</string>
					<key>type</key>
					<integer>2</integer>
					<key>preset</key>
					<string>anafi4k</string>
					<key>Camera-main</key>
					<dict>
						<key>hyperlapse</key>
						<array>
							<string>60</string>
							<string>15</string>
							<string>30</string>
						</array>
						<key>mode</key>
						<array>
							<string>recording</string>
							<string>photo</string>
						</array>
						<key>burst</key>
						<array/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>appDefaults</key>
		<dict>
			<key>preset</key>
			<dict>
				<key>overrides</key>
				<dict>
					<key>Camera-main</key>
					<dict>
						<key>zoomVelocityQualityDegAllowed</key>
						<false/>
						<key>mode</key>
						<string>recording</string>
						<key>recording</key>
						<dict>
							<key>hyperlapse</key>
							<string>15</string>
							<key>framerates</key>
							<dict>
								<key>standard</key>
								<string>40</string>
							</dict>
							<key>mode</key>
							<data></data>
						</dict>
						<key>hdr</key>
						<false/>
					</dict>
				</dict>
				<key>defaults</key>
				<dict>
					<key>Camera-main</key>
					<dict>
						<key>autoRecord</key>
						<true/>
						<key>maxZoomSpeed</key>
						<integer>2</integer>
					</dict>
				</dict>
			</dict>
			<key>device</key>
			<dict>
				<key>overrides</key>
				<dict>
					<key>Camera-main</key>
					<dict>
						<key>hyperlapse</key>
						<array>
							<string>15</string>
							<string>30</string>
						</array>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>expectedStore</key>
		<dict>
			<key>devices</key>
			<dict>
				<key>PI007</key>
				<dict>
					<key>name</key>
					<string>Anafi007</string>
					<key>type</key>
					<integer>2</integer>
					<key>preset</key>
					<string>anafi4k</string>
					<key>Camera-main</key>
					<dict>
						<key>hyperlapse</key>
						<array>
							<string>60</string>
							<string>15</string>
							<string>30</string>
						</array>
						<key>mode</key>
						<array>
							<string>recording</string>
							<string>photo</string>
						</array>
						<key>burst</key>
						<array/>
					</dict>
				</dict>
				<key>default-anafi4k</key>
				<dict>
					<key>name</key>
					<string>Anafi 4K</string>
					<key>type</key>
					<integer>2324</integer>
					<key>preset</key>
					<string>anafi4k</string>
					<key>Camera-main</key>
					<dict>
						<key>hyperlapse</key>
						<array>
							<string>15</string>
							<string>30</string>
						</array>
						<key>mode</key>
						<array>
							<string>recording</string>
							<string>photo</string>
						</array>
						<key>burst</key>
						<array/>
					</dict>
				</dict>
			</dict>
			<key>presets</key>
			<dict>
				<key>anafi4k</key>
				<dict>
					<key>Camera-main</key>
					<dict>
						<key>zoomVelocityQualityDegAllowed</key>
						<false/>
						<key>maxZoomSpeed</key>
						<real>1.5</real>
						<key>mode</key>
						<string>recording</string>
						<key>recording</key>
						<dict>
							<key>resolutions</key>
							<dict>
								<key>standard</key>
								<string>uhd4k</string>
							</dict>
							<key>hyperlapse</key>
							<string>15</string>
							<key>framerates</key>
							<dict>
								<key>standard</key>
								<string>40</string>
							</dict>
						</dict>
						<key>hdr</key>
						<false/>
						<key>autoRecord</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</array>
</plist>
