<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>device</key>
	<dict>
		<key>defaults</key>
		<dict>
			<key>PreciseHome</key>
			<dict>
				<key>mode</key>
				<array>
					<string>disabled</string>
					<string>standard</string>
				</array>
			</dict>
			<key>FlightMeter</key>
			<dict>
				<key>lastFlightDuration</key>
				<integer>0</integer>
				<key>totalFlightDuration</key>
				<integer>0</integer>
				<key>totalFlights</key>
				<integer>0</integer>
			</dict>
			<key>ManualCopter</key>
			<dict>
				<key>motionDetection</key>
				<true/>
				<key>bankedTurnMode</key>
				<true/>
				<key>maxPitchRoll</key>
				<array>
					<real>5</real>
					<real>40</real>
				</array>
				<key>maxPitchRollVelocity</key>
				<array>
					<real>80</real>
					<real>300</real>
				</array>
				<key>maxVerticalSpeed</key>
				<array>
					<real>0.5</real>
					<real>4</real>
				</array>
				<key>maxYawRotationSpeed</key>
				<array>
					<real>10</real>
					<real>200</real>
				</array>
			</dict>
			<key>ReturnHome</key>
			<dict>
				<key>minAltitude</key>
				<array>
					<real>20</real>
					<integer>100</integer>
				</array>
				<key>autoStartOnDisconnectDelay</key>
				<true/>
				<key>preferredTarget</key>
				<true/>
			</dict>
			<key>SystemInfo</key>
			<dict>
				<key>firmwareVersion</key>
				<string>1.0.0-rc7</string>
				<key>hardwareVersion</key>
				<string>-</string>
				<key>serial</key>
				<string>-</string>
			</dict>
			<key>Antiflicker</key>
			<dict>
				<key>mode</key>
				<array>
					<string>60Hz</string>
					<string>off</string>
					<string>50Hz</string>
				</array>
			</dict>
			<key>Camera-main0</key>
			<dict>
				<key>bracketing</key>
				<array/>
				<key>burst</key>
				<array/>
				<key>hyperlapse</key>
				<array>
					<string>240</string>
					<string>60</string>
					<string>15</string>
					<string>30</string>
					<string>120</string>
				</array>
				<key>maxZoomSpeed</key>
				<array>
					<real>0.009999999776482582</real>
					<real>10</real>
				</array>
				<key>mode</key>
				<array>
					<string>recording</string>
					<string>photo</string>
				</array>
				<key>photo</key>
				<array>
					<dict>
						<key>fileFormats</key>
						<array>
							<string>dngJpeg</string>
							<string>jpeg</string>
						</array>
						<key>formats</key>
						<array>
							<string>fullFrame</string>
						</array>
						<key>hdr</key>
						<false/>
						<key>modes</key>
						<array>
							<string>single</string>
						</array>
					</dict>
					<dict>
						<key>fileFormats</key>
						<array>
							<string>jpeg</string>
						</array>
						<key>formats</key>
						<array>
							<string>rectilinear</string>
						</array>
						<key>hdr</key>
						<false/>
						<key>modes</key>
						<array>
							<string>single</string>
						</array>
					</dict>
				</array>
				<key>recording</key>
				<array>
					<dict>
						<key>framerates</key>
						<array>
							<string>30</string>
							<string>24</string>
							<string>25</string>
						</array>
						<key>hdr</key>
						<false/>
						<key>modes</key>
						<array>
							<string>standard</string>
							<string>photo</string>
						</array>
						<key>resolutions</key>
						<array>
							<string>1080p</string>
						</array>
					</dict>
					<dict>
						<key>framerates</key>
						<array>
							<string>24</string>
						</array>
						<key>hdr</key>
						<false/>
						<key>modes</key>
						<array>
							<string>standard</string>
						</array>
						<key>resolutions</key>
						<array>
							<string>dci4k</string>
						</array>
					</dict>
					<dict>
						<key>framerates</key>
						<array>
							<string>30</string>
							<string>24</string>
							<string>25</string>
						</array>
						<key>hdr</key>
						<true/>
						<key>modes</key>
						<array>
							<string>standard</string>
							<string>photo</string>
						</array>
						<key>resolutions</key>
						<array>
							<string>uhd4k</string>
						</array>
					</dict>
					<dict>
						<key>framerates</key>
						<array>
							<string>60</string>
							<string>48</string>
							<string>50</string>
						</array>
						<key>hdr</key>
						<false/>
						<key>modes</key>
						<array>
							<string>slowMotion</string>
							<string>highFramerate</string>
						</array>
						<key>resolutions</key>
						<array>
							<string>1080p</string>
						</array>
					</dict>
				</array>
			</dict>
			<key>firmwareVersion</key>
			<string>1.0.0</string>
			<key>Geofence</key>
			<dict>
				<key>maxAltitude</key>
				<array>
					<real>0.5</real>
					<real>150</real>
				</array>
				<key>maxDistance</key>
				<array>
					<real>10</real>
					<real>2000</real>
				</array>
			</dict>
			<key>Gimbal-main</key>
			<dict>
				<key>maxSpeeds</key>
				<dict>
					<key>pitch</key>
					<array>
						<real>1</real>
						<real>180</real>
					</array>
					<key>roll</key>
					<array>
						<real>0</real>
						<real>0</real>
					</array>
					<key>yaw</key>
					<array>
						<real>0</real>
						<real>0</real>
					</array>
				</dict>
				<key>supportedAxes</key>
				<array>
					<string>roll</string>
					<string>pitch</string>
				</array>
			</dict>
			<key>name</key>
			<string>Anafi4k</string>
			<key>preset</key>
			<string>anafi-default</string>
			<key>type</key>
			<integer>2324</integer>
		</dict>
	</dict>
	<key>preset</key>
	<dict>
		<key>overrides</key>
		<dict>
			<key>Gimbal-main</key>
			<dict>
				<key>stabilizedAxes</key>
				<array>
					<string>roll</string>
					<string>pitch</string>
				</array>
			</dict>
			<key>Camera-main0</key>
			<dict>
				<key>maxZoomSpeed</key>
				<real>0.3400000035762787</real>
			</dict>
			<key>ReturnHome</key>
			<dict>
				<key>autoStartOnDisconnectDelay</key>
				<integer>0</integer>
				<key>preferredTarget</key>
				<string>trackedTargetPosition</string>
			</dict>
		</dict>
		<key>defaults</key>
		<dict>
			<key>ReturnHome</key>
			<dict>
				<key>minAltitude</key>
				<integer>30</integer>
			</dict>
			<key>Gimbal-main</key>
			<dict>
				<key>maxSpeeds</key>
				<dict>
					<key>pitch</key>
					<integer>10</integer>
					<key>roll</key>
					<real>0</real>
					<key>yaw</key>
					<real>0</real>
				</dict>
				<key>stabilizedAxes</key>
				<array>
					<string>roll</string>
					<string>pitch</string>
				</array>
			</dict>
			<key>ManualCopter</key>
			<dict>
				<key>bankedTurnMode</key>
				<true/>
				<key>maxPitchRoll</key>
				<integer>10</integer>
				<key>maxPitchRollVelocity</key>
				<integer>80</integer>
				<key>maxVerticalSpeed</key>
				<real>1</real>
				<key>maxYawRotationSpeed</key>
				<integer>10</integer>
				<key>motionDetection</key>
				<false/>
			</dict>
			<key>Antiflicker</key>
			<dict>
				<key>mode</key>
				<string>auto</string>
			</dict>
			<key>Camera-main0</key>
			<dict>
				<key>autoRecord</key>
				<true/>
				<key>hdr</key>
				<false/>
				<key>maxZoomSpeed</key>
				<real>0.3400000035762787</real>
				<key>mode</key>
				<string>recording</string>
				<key>photo</key>
				<dict>
					<key>bracketing</key>
					<string>1ev</string>
					<key>burst</key>
					<string>24/4</string>
					<key>fileFormats</key>
					<dict>
						<key>single</key>
						<string>jpeg</string>
					</dict>
					<key>formats</key>
					<dict>
						<key>single</key>
						<string>rectilinear</string>
					</dict>
					<key>mode</key>
					<string>single</string>
				</dict>
				<key>recording</key>
				<dict>
					<key>framerates</key>
					<dict>
						<key>standard</key>
						<string>30</string>
					</dict>
					<key>hyperlapse</key>
					<string>15</string>
					<key>mode</key>
					<string>standard</string>
					<key>resolutions</key>
					<dict>
						<key>standard</key>
						<string>uhd4k</string>
					</dict>
				</dict>
				<key>zoomVelocityQualityDegAllowed</key>
				<true/>
			</dict>
			<key>Geofence</key>
			<dict>
				<key>maxAltitude</key>
				<integer>30</integer>
				<key>maxDistance</key>
				<real>100</real>
				<key>mode</key>
				<string>altitude</string>
			</dict>
			<key>PreciseHome</key>
			<dict>
				<key>mode</key>
				<string>disabled</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
